.cart {
  width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 35px;
  height: 100%;
  flex-direction: column;
}

.cart__inner {
  display: flex;
  box-shadow: 2px 4px 8px 0 rgba(34, 60, 80, 0.2);
  border-radius: 8px;
  background: #fff;
  margin-bottom: 15px;
}

.cart__good-id {
  margin: 0;
  font-size: 12px;
  opacity: 0.6;
}

.cart__content {
  width: 60%;
}

.cart__good-name {
  margin: 0;
  font-size: 20px;
}

.cart__good-price {
  margin-top: 10px;
  width: 95px;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

.cart__good-img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 270px;
}

.cart-buttons {
  margin-top: 60px;
  margin-left: 30px;
}

.cart__good-wrapper {
  display: flex;
  padding:30px;
  width: 100%;
  justify-content: space-between;
}

.cart__total-wrapper {
  position: absolute;
}

.cart__good-info {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart__sections {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.cart__total {
  background: white;
  box-shadow: 2px 4px 8px 0 rgba(34, 60, 80, 0.2);
  border-radius: 8px;
  height: 100%;
  width: 30%;
  padding: 22px;
}

.cart__total-title  {
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 20px;
  margin: 0;
}

.cart__total-count {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  padding-bottom: 20px;
}

.cart__total-value {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  font-weight: bold;
  padding-bottom: 20px;
}

.cart__link {
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin: 15px 0;

  &:hover {
    text-decoration: underline;
  }
}

.cart-good__button-delete {
  background: transparent;
  border: none;
  opacity: 0.6;
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
  width: 60px;
}

.cart__good-id {
  padding: 10px 0;
}
