.count-buttons {
  display: flex;
  margin-left: auto;
  width: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.count-buttons__input {
  border: 1px solid #ddd;
  display: inline-block;
  height: 34px;
  text-align: center;
  vertical-align: top;
  width: 50px;
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 33px;
  color: #666;
  -webkit-appearance: none;
  border-radius: 0;

  &[type='number']::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'],
  &[type='number']:hover,
  &[type='number']:focus {
    -moz-appearance: textfield;
  }
}

.count-buttons__button {
  box-shadow: none;
  background: #fff;
  color: #ababab;
  font-size: 18px;
  font-weight: normal;
  overflow: hidden;
  padding: 0;
  border: 1px solid #ddd;
  border-right-color: #ddd;
  display: inline-block;
  height: 38px;
  text-align: center;
  vertical-align: top;
  width: 26px;
  line-height: 1.5;
  outline: none;

}

.count-buttons__button_minus {
  border-radius: 8px 0 0 8px;
  border-right: none;
  color: #ddd;
}

.count-buttons__button_plus {
  border-radius: 0 8px 8px 0;
  border-left: none;
}


