body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  color: #151528;
}

*, *:after, a:before, button {
  font-family: "Montserrat", sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.product {
  width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 35px
}

.product__wrapper {
  max-width: 333px;
  margin-bottom: 25px;
  margin-right: 25px;
  background: white;
  box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }

}

.product__img-wrapper {
  background: white;
  padding: 15px;
}

.product__img {
  width: 300px;
  height: 200px;
}

.product__title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  max-width: 220px;
  margin: 0
}

.product__info {
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.product__price {
  letter-spacing: 0.25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 0;
  right: 20px;
}

.product__size {
  letter-spacing: 1.5px;
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
}

.product__photos {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: auto;
  padding: 5px 15px 20px;
}

.product__photos__link {
  display: flex;
  + .product__photos__link {
    margin-left: 13px;
  }
}

.product__cart {
  border: none;
  background-color: transparent;
  background-image: url("../img/cart.svg");
  height: 28px;
  width: 28px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;

  &--added {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    cursor: auto;
    border: none;
  }
}

.product__button__wrapper{
  margin-left: auto;
}

.product__photos__frame {
  height: 28px;
  width: 28px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
  cursor: pointer;

  span {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    font-weight: bold;
  }
}

.product__add-more {
  display: block;
  padding: 10px;
  background: transparent;
  border: 1px solid black;
  position: absolute;
  bottom: -40px;
  left:50%;
  margin-left:-15%;
  cursor: pointer;
}
